###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Marca a pasta doc/ como documentação.
# Isso faz com que ela seja ignorada nas estatísticas.
###############################################################################

ArvoreB/doc/* linguist-documentation
HashDinamica/doc/* linguist-documentation
