###############################################################################
# Marca a pasta doc/ como documentação.
# Isso faz com que ela seja ignorada nas estatísticas.
###############################################################################

doc/* linguist-documentation
